<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sandwish">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ChooseLanguage" />
        <activity android:name=".SelectedCard" />
        <activity android:name=".Paymentmethod" />
        <activity android:name=".CheckoutdetailsActivity" />
        <activity android:name=".OrderonwayActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".FindrestrauntActivity" />
        <activity android:name=".ItemdetailsActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".TypeoffoodActivity" />
        <activity android:name=".SaveAccountsettingActivity" />
        <activity android:name=".AccountsettingActivity" />
        <activity android:name=".ui.ui.register.RegisterActivity" />
        <activity android:name=".ForgetpasswordActivity" />
        <activity android:name=".ui.ui.login.LoginActivity" />
        <activity android:name=".ThirdWelcomescreenActivity" />
        <activity android:name=".SecondWelcomescreen" />


        <activity android:name=".WelcomescreenActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>